{% extends 'simple_msg_server/base.html' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="card mx-auto" style="max-width: 32rem;">
        <form action="{% url 'login' %}" method="post">
            <div class="card-body">
                <h1 class="card-title">Login</h1>
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        Your username and password didn't match. Please try again.
                    </div>
                {% endif %}
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input class="form-control" id="username" name="username" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input class="form-control" id="password" name="password" type="password" required>
                </div>
                {% if next %}
                    <p class="card-text">You will be redirected after the login.</p>
                {% endif %}
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
{% endblock %}
