{% load static %}
<!doctype html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - Simple MSG Server</title>
    <link href="{% static 'vendor/css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light mb-2" data-bs-theme="light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">Simple MSG Server</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsableNav"
                aria-controls="collapsableNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsableNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    {% url 'index' as dash_url %}
                    <a class="nav-link{% if request.get_full_path == dash_url %} active" aria-current="page{% endif %}"
                       href="{{ dash_url }}">Dashboard</a>
                </li>
                <li class="nav-item">
                    {% url 'form_list' as forms_url %}
                    <a class="nav-link{% if request.get_full_path == forms_url %} active" aria-current="page{% endif %}"
                       href="{{ forms_url }}">Forms</a>
                </li>
            </ul>
            {% if user.is_authenticated %}
                <ul class="navbar-nav mb-2 mb-lg-0 me-3">
                    <li class="nav-item text-dark">@{{ user.username }}</li>
                </ul>
                <form action="{% url 'logout' %}" method="post" class="d-flex">
                    {% csrf_token %}
                    <button class="btn btn-outline-success" type="submit">Logout</button>
                </form>
            {% endif %}
        </div>
    </div>
</nav>

{% block body %}
{% endblock %}

<script src="{% static 'vendor/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
