{% extends 'simple_msg_server/base.html' %}
{% load custom %}

{% block title %}{{ form.name }} details{% endblock %}

{% block body %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Dashboard</a></li>
                <li class="breadcrumb-item" aria-current="page">{{ form.name }}</li>
            </ol>
        </nav>
        <h1 class="text-center">{{ form.name }}</h1>
        <h2>Entries</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                {% for field in form.fields %}
                    <th scope="col">{{ field }}</th>
                {% endfor %}
                <th scope="col">Date</th>
            </tr>
            </thead>
            <tbody>
            {% for entry in form.entries.all %}
                <tr>
                    <th scope="row"><a href="{% url 'form_entry' pk=entry.pk %}">{{ entry.pk }}</a></th>
                    {% for field in form.fields %}
                        <td>{{ entry.content|get_by_key:field|truncatechars:92 }}</td>
                    {% endfor %}
                    <td>{{ entry.created }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="100%">
                        <div class="alert alert-secondary" role="alert">
                            No entries yet!
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
